<mat-card>
  <mat-card-title>Добавить пользователя</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="grid">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="firstname" />
        <mat-error *ngIf="form.get('firstname')?.invalid">Минимум 2 символа</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="lastname" />
        <mat-error *ngIf="form.get('lastname')?.invalid">Минимум 2 символа</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.invalid">Некорректный email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Компания</mat-label>
        <input matInput formControlName="company" />
      </mat-form-field>

      <mat-checkbox formControlName="isVip">VIP</mat-checkbox>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Сохранить</button>
      <a mat-button routerLink="/users">Отмена</a>
    </div>
  </form>
</mat-card>
